
/* font-01 */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font-02  */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    background-color: #F5F8FF;
}
/* header section start....
.............................. */

header{
    background-image:url('../image/Hero-bg.png');
    width: 1440px;
    height: 698px;
    padding: 0px 0px 0px 200px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 151px;
    padding: 50px;
    /* border: 2px solid red; */
}

/* logo part */
.navbar .nav-logo .logo{
    /* border: 1px solid blue; */
    font-size: 34;
    width: 99px;
    height: 51px;
    line-height: 150%;
    color:#4E47FF;
}

/* signup part */
.signup-btn-main{
    margin-top: 50px;
}
.navbar .signup-btn-main .signup-text-btn{
    
    background-color: #4E47FF;
    width: 132px;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding:15px 0 0 0;
    border-radius: 10px;
    border: none;    
    text-align: center;

   display: inline-block;
   transition: all 400ms ease 50ms;

}
.signup-text-btn:hover{
    border: 4px solid rgb(0, 255, 64);
    border-radius: 40px;
    background-color: black;
    box-shadow: 2px 3px 10px black;
}



/* navbar sectin closed..... */

/* hero text start....... */

.hero-text-main{
    text-align: center;
    width: 905px;
    height: 237px;
    /* border: 2px solid seagreen; */
    margin-top:48px;
    margin-left:140px;
}

.hero-text{
    width: 905px;
    height: 152px;
    font-size: 65px;
    font-weight: bold;
    color:#252432;

}

.focused-btn{
    background-color: #4E47FF;
    width: 174px;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px 0 0 0;
    border-radius: 10px;
    border: none;   
   /* border: 2px solid red; */
   display: inline-block;
    transition:all 400ms ease 50ms;
}

/* hover item shared */

.focused-btn:hover{
    transform:rotate(360deg);
    border: 4px solid rgb(7, 255, 81);
    border-radius: 40px;
    background-color: black;
    box-shadow: 2px 3px 30px rgba(16, 16, 236, 0.76);

}
/* .signup-text-btn{
    transition:all 400ms ease 50ms;
}

.signup-text-btn:hover{
    background-color: #252432;
} */
/* nav and hero section closed......... */



/* second action section start....
.................................. */
.action{
    width: 1140px;
    height: 328px;
    /* border: 2px solid purple; */
    margin-left: 191px;
    margin-top:116px;
    
}

.action-container{
    display: flex;
    justify-content: space-between;
    
}

.action-text{
    margin-top:68px;
}
.action-text-title{
    font-size: 42;
    font-weight: bold;
    color: #252432;
    width: 517px;
    height: 29px;
}

.action-passage{
    font-size: 24px;
    line-height:30px;
    color: #2524327e;
    width: 517px;
    height: 70px;
}

.action-btn{
    background-color: #4E47FF;
    width:229px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    border: none; 
    text-align: center;
    
    padding:15px 0 0 0 ;
    display: inline-block;
    height: 41px;
    transition: all 400ms ease 50ms;

}

.action-btn:hover{
    transform:rotate(20deg);
    border: 4px solid rgb(7, 255, 81);
    border-radius:40px;
    background-color: black;
    box-shadow: 2px 3px 30px rgba(16, 16, 236, 0.76);
}

/* action image */
.action-image{
    border-radius: 48px;
    
}

/* action section complete */

/* productive user part start
............................... */

.productive-user-3rd{
    width: 1140px;
    height: 306px;
    padding: 40px 60px;
    background-color: #4d47ff46;
    border-radius: 24px;
    margin-top: 116px;
    margin-left: 141px;
    

}


.user-title{
    width: 856px;
    height: 45px;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-left: 209px;
    /* text-align: center; */
}

.total-user-number{
    display: flex;
    justify-content: space-around;
}
.productive-user-3rd .users-container .total-user-number .total-number{
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
    width: 162px;
    height: 7px;
    /* border: 2px solid red; */
}

.number-title{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color:#00000081;
}

/* total users section closed */

/* challange part start........
...............................*/

.challenging-main-section{
    width: 1200px;
    height: 426px;
    /* border: 2px solid red; */
    margin-left: 161px;
    margin-top: 137px;
    text-align: center;
    /* background-color: hwb(0 95% 5%); */
}

.challenging-part-title{
    font-size:42px;
    font-weight: bold;
    
}

.challenge-passage{
    text-align: justify;
}

.full-car-parent{
    display: flex;
    gap:20px;
}
.challenge-card-container{
   
    width: 316px;
    height: 213px;
    margin-left: 17px;
    margin-top: 20px;
    padding: 24px 24px;
    gap:24px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    /* border: 2px solid brown; */
}

.star-icon-container{
    display: flex;
    width: 116px;
    height: 20px;
    gap: 4px;
}

.star-icon{
    width: 20px;
    height: 20px;

}


.sub-title-text{
    width: 221px;
    height: 19px;
}

.challenge-passage{
    width: 318.67px;
    height: 44px;
}

.profile-container{
    display: flex;
    gap: 10px;
}

.profile-pic{
    width: 40px;
    height: 40px;
   /* border: 2px solid red; */
   border-radius: 50%;
   margin-top: 12px;
}

.profile-name-cont{
    line-height: 6px;
}

.profile-name{
    color: #252432b6;
}

.review-date{
    color: #2524328c;
}

/* challenging part complete............... */


/* Ready to focus part start..
............................. */

.ready-focus-section{
    width: 1140px;
    height: 616.77px;
    text-align: center;
    gap:20px;
    padding: 30px 31px;
    border-radius: 14px;
    background-color: #FFFFFF;
    /* border: 2px solid red; */
    margin-left:151px;
}

.ready-to-focus-title{
    font-size: 50px;
    line-height: 120px;
    width: 516px;
    height: 65px;
    color: #000000;
    margin-left:350px;
}

.ready-to-focus-passage{
    color: #00000081;
    width: 497px;
    height: 22px;
    font-size: 14px;
    margin-left:350px;
    /* border: 2px solid; */
}

.ready-to-focus-btn{
     background-color: #4E47FF;
     width: 195px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;   
   line-height: 50px;


    display: inline-block;
    height: 45px;
    transition: all 400ms ease 50ms;

}

 
.ready-to-focus-btn:hover{
    transform:rotate(-20deg);
    border: 4px solid rgb(0, 255, 64);
    border-radius: 40px;
    background-color: black;
    box-shadow: 2px 3px 30px rgba(16, 16, 236, 0.76);
}


/* ready to focus image part */
.ready-image-container{
    margin-top: 40px;
}
.ready-to-focus-image{
    width: 840px;
    height: 364px;
    border-radius: 48px;

}

/* Ready to focus section closed */

.contact-section{
    width: 1200px;
    height: 632px;
    /* border: 2px solid red; */
    margin-left:150px;
    margin-top: 92px;
    
    
}

.touch-container{
    display: flex;
    justify-content: space-between;
  
}
.touch-text{
    font-size: 97px;
    font-weight: bold;
    line-height: 120px;
    width: 508px;
    height: 232px;
    color: #000000;
    margin-top:160px;
    
    
}

/* input seciton */
.touch-input-section{
    width: 497px;
    height: 490px;
   
    
}

.form-group-1, .form-group-2, .form-group-3{
    margin-top: 25px;

}

label{
   font-size:20px;
   font-weight:400px;
   width: 497px;
   height: 22px; 
   
}


input{
    width: 497px;
    height: 70px;
    font-size: 17px;
    border: none;
    gap:10px;
    border-radius: 10px;
   
   
    /* background-color: white; */

}

textarea{
    width:497px;
    height:130px;
   font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 30px 5px;
    /* background-color: white; */
}

button{
     background-color: #4E47FF;
    width:507px;
    height:62px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding:12px  35px ;
    border-radius: 10px;
    border: none;   
    cursor:pointer;
    margin-top:30px;
    
    display: inline-block;
    transition: all 400ms ease 50ms;

}
button:hover{
    border: 4px solid rgb(0, 255, 64);
    border-radius: 40px;
    background-color: black;
    box-shadow: 2px 3px 30px rgba(16, 16, 236, 0.76);
}
   

/* touch section complete.... */

/* footer section start....
........................... */
.footer-section {
    width:1540px;
    height:328px;
    background-color: #FFFFFF;
    padding-top:10px;
   
}

.total-section-container {
    /* background-color: rgba(255, 0, 0, 0.295); */
    width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.last-logo-text {
    font-size: 80px;
    font-weight: 900;
    color: #4E47FF;
}

.last-passage {
    width: 100%;
    max-width: 531px;
    color: #8987A1;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.last-menu-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.last-click {
    text-decoration: none;
    color: #8987A1;
}

.last-click:hover{
    background-color: #4E47FF;
    color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 7px 14px black;
}